<h1>Question</h1>
  <div id="container">
  <div id="question">
  <%=@question%>

  <form action="/decks/<%=@deck.id%>/cards/<%=@card.id%>" method="post">
    <label for="user_input">Your Guess:</label>
    <input type="text" name="user[guess]" id="user_input">
    <input type="submit" value="Submit" value="answer">
  </form>
  <br />
  <a href="/decks/<%=@deck.id%>/cards/<%=@card.id%>/answer">View answer</a>
  </div>
</div>

<p><a href="/decks/<%=@deck.id%>/cards/<%=session[:cards].sample%>">Next question</a></p>

